<! DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<Title>AquaPi Prototype</Title>
		<!--Style sheets and stuff-->
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
		<link rel="stylesheet" type="text/css" href="/static/jquery.pnotify.default.icons.css" />
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/static/jquery.pnotify.min.js"></script>
		<script type="text/javascript">
		$.pnotify.defaults.styling = "jqueryui";
        	$.pnotify.defaults.maxonscreen = 5;
		
		$( '#flashed' ).ready(function() {
			$.pnotify({
		        	text: {{ message }}
			})
		})
		</script>
	</head>
	<body>
	        <div id="content">
	            {% block body %}{% endblock %}
	        </div>
	        <div id="nav">
	            Navigation:<br />
	            <ul>
	                {% block nav %}{% endblock %}
	                <hr id="nav"/>
			<li><a href="{{url_for('index')}}">Home</a></li>
			{% if 'username' in session %}
			<li><a href="{{url_for('ledtest')}}">LED Test</a></li>
			<li><a href="{{url_for('login')}}">Logout</a></li>
			{% else %}
			<li><a href="{{url_for('login')}}">Login</a></li>
	            	{% endif %}
			</ul>
	        </div>
		{% with messages = get_flashed_messages() %}
		{% for message in messages %}
		{% if message: %}
		<div id="flashed">
			{{ message }}
		</div>
		{% endif %}
		{% endfor %}
	        {% endwith %}

	<body>
</html>
