<! DOCTYPE html>
<html>
	<head>
		<Title>AquaPi Prototype</Title>
	</head>
	<body>
		Lighting Test:
		<form action="/" method="post">
			<input type="submit" name='btn' value="On" />
			<input type="submit" name='btn' value="Off" />
		</form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                Results:
                <pre>
                    {% for message in messages %}
{{ message }}
                    {% endfor %}
                </pre>
            {% endif %}
        {% endwith %}
	</body>
</html>